:root {
  --Pale-Blue: hsl(225, 100%, 94%);
  --Bright-Blue: hsl(245, 75%, 52%);
  --Very-Pale-Blue: hsl(225, 100%, 98%);
  --Desaturated-Blue: hsl(224, 23%, 55%);
  --Dark-Blue: hsl(223, 47%, 23%);
  --Purple: hsl(228, 45%, 44%);
}


.home {
  background-color: var(--Pale-Blue);
  background-image: url(../../assets/icon/pattern-background-desktop.svg);
  width: 100%;
  height: 800px;
  background-size: 100vw;
  background-repeat: no-repeat;
  min-width: 100vw;
  min-height: 55vw;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}


